@charset "utf-8";

/* Original design work copyright (c) OCDesignsOnline, All Rights Reserved. Used with permission by Waymil LLC. */

/* Category page main
-------------------------------------------------- */
td#CentralArea, td#CentralArea table.r3					            { width:737px !important; }
/* top text */ td#CentralArea .v4stabl, .grid				        { width:737px; padding:2px 0 !important; }
/* top view sort bar */ .ctrlbr										{ width:737px; }
/* bottom footer bar */ .pgbc										{ width:737px; }
/* top ship to bar */ .cmpBr										{ width:717px; padding:0 10px; }


/* Set font family and size
-------------------------------------------------- */
/* top text */ .v4stabl, .v4stabl a,
/* top text match */ .fpcc .matchClass,
#v4-1 h1.smuy span.matchClass,
#v4-2 h1.smuy span.matchClass,
#v4-3 h1.smuy span.matchClass,
#v4-4 h1.smuy span.matchClass,
.fpcc .matchClass, .fpcc span.keywordClass,
/* listing details general */ .basics .clr span,
.fpcc span.saveSearch, .fpcc span.fpcshowall,
/* listing title */ table.gallery div.ttl a,
/* time left title text */ div.basics span.label,
/* bids title text */ div.basics span.bid,
.details, .details span,
/* footer text left and right */ 
table.pgbc td.l span.page, table.pgbc td.r span,
/* footer pages enabled */ .dynpg .prev a.enabled,
.dynpg .pages a.enabled, .dynpg .next a.enabled,
/* footer pages disabled */ .dynpg .prev a.disabled,
.dynpg .prev a.disabled:hover, 
.dynpg .pages a.disabled, 
.dynpg .pages a.disabled:hover,
.dynpg .next a.disabled,
.dynpg .next a.disabled:hover										{ font:normal 12px Arial, Tahoma, Geneva, Sans-serif !important; } /* main fonts */

/* enlarge icon and text */ span.pll, a.pll					        { font:normal 11px/13px Arial, Tahoma, Geneva, Sans-serif !important; padding-top:0 !important; padding-bottom:0 !important; }

/* price display text */ 
table.gallery td.details table.fixed span.bin,
table.gallery td.details table.fixed span.bid,
/* time left display text */ 
table.gallery td.details table.fixed span.bids,
table.gallery td.details table.fixed span.time,
/* postage rate text */ table.gallery td.details table.fixed span.ship { font:bold 13px Arial, Tahoma, Geneva, Sans-serif !important; } /* bold fonts */

/* top text count */ .fpcc .countClass,
#v4-1 h1.smuy span.countClass,
#v4-2 h1.smuy span.countClass,
#v4-3 h1.smuy span.countClass,
#v4-4 h1.smuy span.countClass,
/* top view sort bar title */ .ctrlbr span.pdmt .label,
/* top view sort bar results */ .ctrlbr span.pdmt .cur,
/* footer go button */ .dynpg .r .form input#q_10		            { font:bold 12px Arial, Tahoma, Geneva, Sans-serif !important; } /* bold larger fonts */

/* top ship to bar */ .cmpBr .cmsg,
.cmpBr .cmsg a, .cmpBr .cmsg a:hover,
/* listing subtitle */ td.details .subtitle						    { font:normal 11px Arial, Tahoma, Geneva, Sans-serif !important; } /* smaller fonts */


/* Set font colors
-------------------------------------------------- */
/* top text match */ .fpcc .matchClass,
#v4-1 h1.smuy span.matchClass,
#v4-2 h1.smuy span.matchClass,
#v4-3 h1.smuy span.matchClass,
#v4-4 h1.smuy span.matchClass,
/* listing title */ table.gallery div.ttl a,
/* listing details */ table.gallery td.details table.fixed .clr span,
.fpcc span.saveSearch, .fpcc span.fpcshowall,
/* time left title */ table.gallery td.details table.fixed span.label,
/* bids title */ table.gallery td.details table.fixed span.bid,
/* time left display */ table.gallery td.details table.fixed span.time,
table.gallery td.details table.fixed span.label span.bids,
/* postage rate */ table.gallery td.details table.fixed div.ship span.ship, 
.details, .details span,
/* enlarge icon and text */ span.pll, a.pll,
/* footer page input */ td.r input.page						        { color:#000 !important;  } /* main text color */
td.r form input.page												{ border:1px solid #000 !important; } /* same color as above */

/* top text count */ .fpcc .countClass,
#v4-1 h1.smuy span.countClass,
#v4-2 h1.smuy span.countClass,
#v4-3 h1.smuy span.countClass,
#v4-4 h1.smuy span.countClass,
/* listing title hover */ table.gallery div.ttl a:hover,
/* free shipping */ span.fshp										{ color:#fedc1b !important; } /* main accent color */

/* top text hover */ .v4stabl a:hover,
/* listing subtitle */ table.gallery td.details .subtitle,
/* price display */ table.gallery td.details table.fixed span.bid,
table.gallery td.details table.fixed span.bin			            { color:#fedc1b !important; } /* bright accent color */
/* listings with paid borders */ .grid td.bd					    { border:2px solid #fedc1b !important; } /* same color as above */

/* top right view all bin text */ .v4stabl, .v4stabl a,
/* top text keyword */ .fpcc span.keywordClass			            { color:#fedc1b !important; } /* main accent color */
/* top view sort bar title */ .ctrlbr span.pdmt .label	            { color:#000 !important; } /* main text color */
/* top view sort bar results */ .ctrlbr span.pdmt .cur	            { color:#0000cc !important; } /* main accent color */
/* top shipping bar text */ .cmpBr .cmsg                            { color:#333 !important; } /* main text color */
/* top zip code link */ .cmpBr .cmsg a                              { color:#333 !important; } /* main accent color */
/* top zip code link hover */ .cmpBr .cmsg a:hover                  { color:#fedc1b !important; } /* bright accent color */

/* footer text general */ 
.dynpg .pgbc .l span, .dynpg .pgbc .r span,
.dynpg .pgbc .prev a.enabled,
.dynpg .pgbc .pages a.enabled, 
.dynpg .pgbc .next a.enabled                                        { color:#000 !important; }

/* footer pages enabled hover */ 
.dynpg .pgbc .prev a.enabled:hover,
.dynpg .pgbc .pages a.enabled:hover, 
.dynpg .pgbc .next a.enabled:hover									{ color:#fedc1b !important; }

/* footer text disabled */ 
.dynpg .pgbc .prev a.disabled,
.dynpg .pgbc .prev a.disabled:hover,
.dynpg .pgbc .pages a.disabled,
.dynpg .pgbc .pages a.disabled:hover,
.dynpg .pgbc .next a.disabled,
.dynpg .pgbc .next a.disabled:hover,
/* footer page divider line */ .dynpg .pgbc span.pipe			    { color:#333 !important; } /* neutral pale color */

/* footer go button */ .dynpg .pgbc .r .form input#q_10		        { color:#000; }
/* footer go button hover */ .dynpg .pgbc .r .form input#q_10:hover	{ color:#fedc1b !important; }




/* Background images
-------------------------------------------------- */
/* main content area */ td#CentralArea table.r3		                { background:transparent none !important; padding:0 !important; }
/* product display area */ td#CentralArea div.rs_box                { background:transparent url(images/x-ca-mid.png) center top repeat-y !important; padding:0 !important; }

/* top text bar */ .fpcc											{ background:transparent none; margin:5px 0 !important; padding:0 !important; }
#v4-1 h1.smuy span.countClass,
#v4-2 h1.smuy span.countClass,
#v4-3 h1.smuy span.countClass,
#v4-4 h1.smuy span.countClass,
.fpcc .countClass, .fpcc span.keywordClass					        { height:16px; line-height:16px; } /* set line-height to same as .fpcc height above */
a#v4-5_svy_lnk														{ height:16px; padding-left:10px; font-size:11px; color:#888; }

/* top view sort bar */ .ctrlbr										{ height:30px; background:#fedc1b !important; border-bottom:0 none !important; }
.ctrlbr span.pdmt .label, .ctrlbr span.pdmt .cur			        { line-height:30px !important; } /* set line-height to same as .ctrlbr height above */

/* top ship to bar */ .cmpBr										{ height:25px !important; background:transparent url(images/x-ca-title-cmpbr.png) 0 0 no-repeat !important; }
.cmpBr .cmsg, .cmpBr .cmsg a, .cmpBr .cmsg a:hover	                { line-height:25px !important; } /* set line-height to same as .cmpBr height above */

/* gallery box */ .grid td.gallery table.gallery				    { width:220px !important; height:360px !important; background:transparent url(images/x-ca-gallery-bg.png) 0 0 no-repeat !important; border:0px none !important; overflow:hidden; } 
/* listing image bg */ table.gallery td.picture				        { background:transparent none !important; } 

/* border around image, if any */
table.gallery td.picture .image img								    { max-width:140px; width:auto !important; width:140px; border:0 none; } /* img 140px x 100px average, border optional */
table.gallery td.picture .image img.sale						    { border:0 none !important; width:32px !important; height:32px !important; } /* sale icon */

/* footer bar */ div.dynpg table.pgbc							    { height:38px !important; background:transparent url(images/x-ca-title-pgbc.png) 0 0 no-repeat !important; }
table.pgbc td.l span.page,
table.pgbc td.r span												{ line-height:38px !important; } /* set line-height to same as .pgbc height above */

/* variable listing icons */ .details img							{ background-color:transparent; }


/* END STANDARD CUSTOMIZATION SECTIONS */
/* BEG GENERAL SETTINGS RESET */


/* Category page main
-------------------------------------------------- */
td#CentralArea														{ border:0 none !important; padding-bottom:110px!important;position:relative;}
td#CentralArea table.r3												{ border:0 none !important; margin:0 !important; padding:0 0 10px !important; }
/* top view sort bar */ .ctrlbr										{ border:0 none !important; margin:0 auto !important; padding:0 !important; }
/* top ship to bar */ .cmpBr										{ border:0 none !important; margin:0 auto !important; }
/* footer bar */ div.dynpg table.pgbc							    { border:0 none !important; margin:0 auto !important; padding:0 !important; }
#v4-5{min-height:1200px;}
.x-head-top{margin:0;overflow:hidden;}
.x-head-top img{float:left;margin-right:10px;}
#fpcap #v4-5{min-height:auto;}


/* Top text
-------------------------------------------------- */
.v4stabl, .v4stabl a												{ text-decoration:none !important; }
.v4stabl a:hover													{ text-decoration:underline !important; }
.fpcc .smuy															{ padding:0 10px !important; }
.fpcc span.keywordClass												{ background-color:transparent !important; }


/* Top view sort bar
-------------------------------------------------- */
.ctrlbr span.pdmt .label											{ padding:0 5px 0 10px !important; } /* title text */
.ctrlbr span.pdmt .cur												{ background:transparent url(images/iconSortdownblue.gif) right center no-repeat !important; padding:0 16px 0 0 !important; } /* add custom down arrow */
.ctrlbr span.pdmt .cur img											{ display:none !important; } /* remove generic down arrow */


/* Top shipping to bar
-------------------------------------------------- */
.cmpBr .cmsg														{ padding:0 10px !important; } /* text */
.cmpBr .cmsg a:hover												{ text-decoration:underline !important; } 


/* Category display main
-------------------------------------------------- */
/* spacing between gallery items */
.rs-pview															{ padding:2px 0 10px !important; } /* spacing below header bar and above footer bar with gallery table in between*/
.grid td.gallery													{ padding:8px 0 0 9px !important; } /* spacing at top and sides of each gallery row also affects space in between gallery boxes */
.grid td.left														{ } /* spacing between gallery boxes if additional is needed */
td.r3_c div.tp, td.r3_c div.r3_cm									{ padding:0 !important; } /* inset parent gallery table, tp can set top padding, r3_cm can set sides padding */

/* borders between gallery items */
.grid td.left														{ border-left:0 none !important; } /* vertical line between gallery boxes */
div.itemseparator													{ border:0 none !important; margin:0 !important; } /* horizontal line between gallery rows */

/* backgrounds and images */
table.gallery td.picture											{ padding:0px !important; border:0 !important; overflow:hidden !important; text-align:center; } /* listing image background */
table.gallery td.picture div.image								    { margin:12px auto 6px; border:0 none; } /* inline settings: style="width:140px;" */
table.gallery .mi													{ display:none; } /* space below image for optional features text, usually blank gap */

/* listing title */
table.gallery div.ttl												{ padding-bottom:10px; }
table.gallery div.ttl a												{ line-height:15px !important; text-decoration:none !important; } /* listing title text */
table.gallery div.ttl a:hover										{ text-decoration:underline !important; }
td.details .subtitle												{ line-height:13px !important; padding-bottom:8px !important; } /* listing subtitle */


/* Footer bar
-------------------------------------------------- */
td#CentralArea div.dynpg											{ border:0 none !important; margin:0 !important; padding:0 !important; } /* border, margins, and zero padding */
table.pgbc table.pager												{ margin:0 auto !important; } /* central column */
table.pgbc td.l														{ padding:0 0 0 10px !important; } /* left column */
table.pgbc td.r														{ padding:0 10px 0 0 !important; } /* right column */

/* footer buttons */
.dynpg .prev a.enabled img.pic,
.dynpg .prev a.disabled img.pic,
.dynpg .next a.enabled img.pic,
.dynpg .next a.disabled img.pic									    { display:none !important; }
.dynpg .prev														{ background:transparent url(images/x-ca-back.png) left bottom no-repeat !important; padding:0 0 0 22px !important; height:18px !important; overflow:hidden !Important; }
.dynpg .next														{ background:transparent url(images/x-ca-next.png) right bottom no-repeat !important; padding:0 22px 0 0 !important; height:18px !important; overflow:hidden !important; }
.dynpg .prev:hover													{ background-position:left top !important; }
.dynpg .next:hover													{ background-position:right top !important; }
.dynpg .r .form														{ margin:0 !important; padding:0 !important; }
.dynpg .r .form input#q_9											{ margin-top:12px !important; }
.dynpg .r .form input#q_10											{ margin-top:11px !important; cursor:pointer; }
.dynpg .r .form input#q_10											{ width:35px; height:18px; border:0 !important; line-height:18px !important; background:transparent url(images/x-ca-go.png) 0 0 no-repeat !important; }


/* Borders category page
-------------------------------------------------- */
.rs_box																{ border-top:0 none !important; } /* top border */
td.r3_t																{ background-image:none !important; font-size:0; height:1px; }
td.r3_t b															{ background-image:none !important; font-size:0; height:1px; margin-left:6px; display:block; }
td.r3_t i															{ border-color:#FFF; border-style:solid; border-width:0 !important; height:1px; margin-right:6px; overflow:hidden; }
td.r3_c																{ border-color:#FFF; border-style:solid; border-width:0 !important; }
td.r3_bl															{ background-image:none !important; font-size:0; height:1px; }
td.r3_bl b															{ background-image:none !important; font-size:0; height:1px; margin-left:6px; display:block; }
td.r3_bl i															{ border-color:#FFF; border-style:solid; border-width:0 !important; height:1px; margin-right:6px; overflow:hidden; }
