@charset "utf-8";

/* Original design work, including graphics and all related scripts, Copyright (c) OCDesignsOnline.com, All Rights Reserved. Used with permission by Waymil LLC. */

/* General page formatting
-------------------------------------------------- */
#x-head{
	display:block!important;
	margin-top:15px!important;
}
li a:focus{
	color:#0654ba;
}
body										{ margin:0 2px !important; padding:0 !important; }
.x-bg										{ /* background:#E5E5E5 url(images/x-bg.png) center top scroll repeat-x;  */padding:15px 0; }
.x-bg *										{ margin:0; padding:0; vertical-align:top; }
.x-bg img									{ border:0; }
.x-bg, .x-content							{ margin:0 auto; text-align:center; vertical-align:top; }
.x-content									{ background:transparent url(images/x-content.png) center top repeat-y; padding:10px 0 !important; overflow:hidden; }
.x-content, #x-head, #x-foot		        { width:960px; position:relative; margin:0 auto; }
#x-head-wrap, #x-foot-wrap				    { width:100%; position:relative; margin:0 auto; }
#x-foot-wrap{position:absolute!important;left:0;}
#LeftPanel, #LeftPanel .x-tbar, 
#LeftPanel .x-ttop, #LeftPanel .x-tmid, 
#LeftPanel .x-tbtm, #LeftPanel .x-prom      { width:210px !important; display:block; overflow:hidden; }
#CentralArea, #x-main, #x-main-fcat, 
#x-feat, #x-main .x-tbar, #x-main .x-ttop, 
#x-main .x-tmid, #x-main .x-tbtm, 
#x-main-tabs			                    { width:737px; display:block;}
#CentralArea, #x-main                       { margin:0 !important; padding:0 !important; float:right; vertical-align:top; }
#CentralArea #x-main						{ padding:0 !important; }
#LeftPanel									{ margin:0 !important; padding:0 !important; float:left; vertical-align:top !important; }

#CentralArea .r3, .fpcc span.keywordClass	{ background-color:#FFF; } /* gallery bg */
#CentralArea .r3_cm					        { padding:10px; }
#CentralArea .ctrlbr						{ padding:3px 10px; }
#CentralArea .cmpBr					        { padding:0 10px; }
#CentralArea span.pdmt img		            { vertical-align:middle; }
#CentralArea span.tpr, 
#CentralArea a.tpr						    { font-size:11px; line-height:15px; padding-top:0; padding-bottom:0; }
#TopPromoArea							    { display:none !important; margin:0 !important; padding:0 !important; }
.x-bg .x-ctr                                { text-align:center !important; margin:0 auto !important; max-width:960px !important; }

.x-bg *                                     { font-family:Arial, Tahoma, Sans-serif; text-decoration:none; }
.x-bg, .x-bg p, .x-bg a, .x-bg li,
.x-bg table                                 { font-size:12px; color:#000; }
.x-bg a:link, .x-bg a:visited,
.x-bg a:active 				                { color:#000; }
.x-bg a:hover, .fpcc .countClass            { color:#0742DD; }
.x-tmid, .x-tmid p, .x-tmid li,
.x-tmid, .x-tmid p, .x-tmid li              { text-align:left; line-height:18px; }
#CentralArea p, #x-main p, 
#x-main .x-tmid ul	                        { padding:0 0 15px; }
#CentralArea ul, #x-head ul, #foot ul,
#LeftPanel ul, #x-main ul		            { list-style-type:none; }
#CentralArea li, #x-main li				    { background:transparent url(images/x-tbul.png) 0 0 no-repeat; padding:0 0 5px 15px; }
#x-head-menu li	                            { display:inline; float:left; background:transparent none; padding:0; }
#x-main .x-tmid ol							{ padding:0 15px 15px 25px; }
#x-main .x-tmid ol li						{ background:transparent none; padding:0 0 5px 0; }
#x-head *, #x-foot *, 
#LeftPanel *, #x-main *                     { text-decoration:none; }
#x-main .x-tmid a, #x-main .x-tmid a:link,
#x-main .x-tmid a:active, 
#x-main .x-tmid a:visited, 
#x-main .x-tmid a:hover						{ text-decoration:underline; }
#x-head-menu, #x-head-srch, .x-tins,  #x-tg { overflow:hidden; }
#x-head-srch-bttn, #x-head-menu li,
#LeftPanel li, #x-side-news-bttn, 
#x-main-tabs img					        { cursor:pointer; }
#LeftPanel ul li a, #LeftPanel ul li span,
#x-main-fcat a, #x-main-fcat a img, 
#x-main-tabs img, #x-feat .x-fp *           { display:block; }

#LeftPanel .ttl, #LeftPanel .link,
#LeftPanel .all_cats, 
#LeftPanel .cnt, 
#LeftPanel .v4acpcont,
#x-side-cats ul.lev1 li br, 
#x-side-cats ul.lev2 li br, .x-hide			{display:none!important; }
#LeftPanel .x-temp,
#x-template #LeftPanel .x-home              { /* display:none; */ }
#x-template #LeftPanel .x-temp              { display:block; }
.pagecontainer table[width="100%"] {margin: 0 auto; max-width: 960px;}
.pagecontainer table.tb_v4bc{max-width:1920px;}
#x-side-cats ul{margin:0;padding:0;}
#LeftPanel table.v4thldr{display:block!important;}
.pagecontainer { /* background: #e5e5e5 url("images/x-bg.png") repeat-x scroll center top; */}


/* Header formatting
-------------------------------------------------- */
#x-head										{ height:155px; background:transparent url(images/x-head.png) 0 0 no-repeat; }
#x-head-logo								{ position:absolute; left:0; top:0px; width:227px; height:88px; display:block; background:transparent url(images/j-logo.jpg) 0 0 no-repeat; background-size:100%;}

/* search box */
#x-head-srch								{ position:absolute; left:660px; top:54px; width:299px; height:29px; }
#x-head-srch-sbox							{ width:206px; height:29px; line-height:29px; font-size:11px; color:#888; border:0 none; background-color:transparent; margin:0; padding:0 10px; float:left; }
#x-head-srch-bttn							{ width:71px; height:29px; float:right; border:0 none; background:transparent none; }

/* menu bar links */
#ds_div #x-head-menu								{ top:108px; }
#x-head-menu								{ position:absolute; left:1px; top:95px; width:958px; height:46px; }
#x-head-menu li								{ text-align:center; background:transparent url(images/x-head-mdiv.png) right center no-repeat; padding:0 31px 0 0; }
#x-head-menu li.last						{ background-image:none; padding:0; }
#x-head-menu li a							{ color:#FFF; font:bold 12px/46px Arial, Tahoma, Sans-serif; text-transform:uppercase; padding:0 20px; display:block; }
#x-head-menu li a:hover					    { color:#0742DD; background:transparent url(images/x-head-mhov.png) left center repeat-x; }
.pagecontainer table[bgcolor="#D3E6FF"]{display:none;}
.pagecontainer table[border="0"]{border:0!important;}


/* Left panel formatting
-------------------------------------------------- */
/* left text boxes */
#LeftPanel .x-tbar							{ background:transparent url(images/x-side-tbar.png) 0 0 no-repeat; height:39px; }
#LeftPanel .x-ttop							{ background:transparent url(images/x-side-ttop.png) 0 0 no-repeat; height:5px; }
#LeftPanel .x-tmid						    { background:transparent url(images/x-side-tmid.png) 0 0 repeat-y; }
#LeftPanel .x-tbtm						    { background:transparent url(images/x-side-tbtm.png) 0 0 no-repeat; height:18px; }
#LeftPanel .x-tins						    { padding:10px 10px 0; }
#LeftPanel .x-prom				            { margin:0 0 13px; }

/* categories menu */
#LeftPanel .x-tbar-cats						{ background-image:url(images/x-side-tbar-cats.png); }
#LeftPanel .x-tbsh						    { background-position:0 -6px; height:13px; border-top:1px solid #D4D4D4; }
#LeftPanel .lev1 li						    { margin:0 1px; background-color:#EFEFEF; border-top:1px dotted #D4D4D4; }
#LeftPanel .lev1 li.first				    { border-top:0 none; }
#LeftPanel .lev1 li a, 
#LeftPanel .lev1 li span			        { background:transparent url(images/x-side-lev1.png) 11px 7px no-repeat; font-size:13px; line-height:15px; padding:6px 10px 6px 24px; }
#LeftPanel .lev1 li span,
#LeftPanel .lev1 li a:hover		            { color:#0742DD; background-image:url(images/x-side-lev1h.png); background-color:#FFF; }
#LeftPanel .lev2, #LeftPanel ul.lev3	    { padding:0 0 5px; }
#LeftPanel .lev2 li, #LeftPanel .lev3 li	{ border:0 none; }
#LeftPanel .lev2 li a,
#LeftPanel .lev2 li span                    { background:transparent url(images/x-side-lev2.png) 24px 2px no-repeat; font-size:11px; line-height:13px; padding:2px 10px 2px 36px; }
#LeftPanel .lev3 li a,
#LeftPanel .lev3 li span 			        { background:transparent url(images/x-side-lev2.png) 36px 2px no-repeat; font-size:11px; line-height:13px; padding:2px 10px 2px 48px; }
#LeftPanel .lev2 li span,
#LeftPanel .lev3 li span,
#LeftPanel .lev2 li a:hover,
#LeftPanel .lev3 li a:hover		            { color:#0742DD; background-image:url(images/x-side-lev2h.png); background-color:#FFF; }

/* newsletter text box */
#LeftPanel .x-tbar-news						{ background-image:url(images/x-side-tbar-news.png); }
#x-side-news #x-side-news-bttn				{ width:90px; height:25px; background:transparent url(images/x-side-news-bttn.png) 0 0 no-repeat; margin:0 0 5px; display:block; float:right; }
#x-side-news p.x-ckbx					    { margin:10px 0; overflow:hidden; }
#x-side-news p.x-ckbx:not(#foo)				{ overflow:hidden !important; }
#x-side-news p.x-ckbx:not(#foo) > input		{ width:16px; height:16px; position:absolute; left:0; opacity:0; float:left; }
#x-side-news p.x-ckbx > label				{ font-size:11px; line-height:16px; padding-left:5px; }
#x-side-news p.x-ckbx:not(#foo) > label		{ float:left; padding-left:20px; }
#x-side-news p.x-ckbx:not(#foo) > input + label	{ background:transparent url(images/x-ckbx.png) 0 0 no-repeat; height:16px; }
#x-side-news p.x-ckbx:not(#foo) > input[type=checkbox]:checked + label { background-position:0 -16px; }



/* Homepage formatting
-------------------------------------------------- */
/* text boxes */
#x-main .x-tbar								{ background:transparent url(images/x-main-tbar.png) 0 0 no-repeat; height:39px; }
#x-main .x-ttop								{ background:transparent url(images/x-main-ttop.png) 0 0 no-repeat; height:5px; }
#x-main .x-tmid								{ background:transparent url(images/x-main-tmid.png) 0 0 repeat-y; padding:5px 0; }
#x-main .x-tbtm								{ background:transparent url(images/x-main-tbtm.png) 0 0 no-repeat; height:18px; }
#x-main .x-tins								{ padding:10px 15px 0; }

/* promo banners */
#x-main-bann								{ width:737px; height:328px; margin:0 auto; display:block; }
#x-main-ship								{ width:737px; height:108px; margin:0 auto 13px; display:block; }
#x-main-prom								{ width:737px; height:96px; margin:0 auto 13px; display:block; }

/* featured cats images */
#x-main-fcat img							{ width:228px; height:242px; margin:0 0 13px 26px; float:left; }
#x-main-fcat img.x-first					{ margin-left:0; }



/* Homepage auto featured items
-------------------------------------------------- */
/* general */
#x-main .x-tbar-feat						{ background-image:url(images/x-main-tbar-feat.png); }
#x-main #x-feat .x-fp						{ width:168px; height:238px; background:transparent url(images/x-fp-bg.png) center top no-repeat; margin:7px 0 0 13px; padding-top:36px; float:left; }

/* gallery image */
#x-feat table.gallery td.picture div.image img		{ max-width:140px; width:auto !important; height:140px; margin:0 auto; border:0 none !important; } /* img 140px x 100px average, border optional */
#x-feat table.gallery td.picture div.image img.sale { width:auto; height:auto; } /* optional floating sale icon */

/* gallery title and text */
#x-feat table.gallery div.ttl a				{ color:#000; font:normal 11px/13px Arial, Tahoma, Sans-serif; text-decoration:none; position:relative; z-index:9999; cursor:pointer; } /* title font */
#x-feat table.gallery div.ttl a:link,
#x-feat table.gallery div.ttl a:active,
#x-feat table.gallery div.ttl a:visited		{ color:#000 !important; text-decoration:none !important; }
#x-feat table.gallery div.ttl a:hover		{ color:#0742DD !important; text-decoration:none !important; }
#x-feat table.fixed tr td span.bin, 
#x-feat div.basics span.bin,
#x-feat table.fixed tr td span.bid, 
#x-feat div.basics span.bid					{ color:#0742DD !important; font:bold 14px/30px Arial, Tahoma, Geneva, Sans-serif !important; display:block; float:left; margin:0 15px; } /* price font and location */
#x-main #x-main-fcat {margin-top: 15px;}

/* shop button */
#x-feat table.gallery table.fixed			{ width:168px; height:30px; background:transparent url(images/x-fp-bbtn.png) right center no-repeat; margin-top:0; } /* set height to same as button img */

/* hide bin or bid pricing */
#x-feat div.basics span.bid, 
#x-feat table.fixed tr td span.bid			{ display:none; }

/* borders and spacing resets */
#x-feat table.gallery td.picture			{ text-align:center; vertical-align:middle; } /* height auto set inline to 140px */
#x-feat table.gallery td.picture div.image  { width:100% !important; margin:0 auto; padding:0; }
#x-feat table.gallery div.ttl				{ height:39px; margin:0; padding:10px 15px 8px; position:relative; } /* title text, set height to accommodate up to 3 rows of title text */
#x-feat table.gallery div.ttl a				{ display:block; height:80px; } /* extend link over buy button */
#x-feat table.v4shwc td.grItm               { width:100%; }
#x-feat #showcase, #x-feat table.v4stw, 
#x-feat table.v4shwc td.grItm, 
#x-feat table.gallery td.picture			{ margin:0; padding:0; }
#x-feat .whiter-rcp .whiter-n, 
#x-feat .whiter-s, 
#x-feat table.gallery .mi, 
#x-feat div.basics div.clr, 
#x-feat table.gallery div.catItms,
#x-feat div.basics div.prices div.amount img,
#x-feat div.basics span.label, 
#x-feat div.subtitle,
#x-feat div.anchors div.group, 
#x-feat img.ii, #x-feat img.iippl, 
#x-feat table.v4shwc td.bline,
#x-feat table.fixed tr td .label, 
#x-feat table.fixed tr td img, 
#x-feat table.fixed tr td .time2,
#x-feat table.gallery span.disct, 
#x-feat table.gallery span.disct2, 
#x-feat table.gallery .oriprs,
#x-feat table.gallery .ship,
#x-feat table.gallery .stp					{ display:none; }
#x-feat .whiter-rcp							{ border:0 none; }
#x-feat table.v4shwc td.lcell			    { border-right:0 none; }



/* Template formatting
-------------------------------------------------- */
/* adjust left nav */
#x-template #LeftPanel ul.lev1 li			{ height:26px; }
#x-template #LeftPanel ul.lev2 li, 
#x-template #LeftPanel ul.lev3 li			{ height:17px; }
#ds_div #x-template #LeftPanel ul.lev1 li{height:auto!important;}
#ds_div #x-template #LeftPanel ul.lev2 li,#desc_ifr #x-template #LeftPanel ul.lev3 li{height:auto!important;}
/* description */
#x-main .x-tbar-desc	, #x-main .x-tbar-spec{ background:#fedc1b/*  url(images/x-main-tbar-desc_01.png) no-repeat scroll center left */;color:#002cfd; font-size:14px; font-weight:bold; height:39px; line-height:39px; padding-left:18px;text-align:left;width:100%; }
					
#x-template h1							    { color:#555; text-align:left; font:normal 18px/21px Arial, Tahoma, Sans-serif; margin:0; padding:0 0 15px; }
#CentralArea h5, #x-main h5		            { color:#002cfd; text-align:left; font:bold 13px/18px Arial, Tahoma, Sans-serif; margin:0; padding:5px 0 10px; }

/* image gallery side */
#x-tg										{ width:707px; margin:0 auto 15px; overflow:hidden; }
#x-gm										{ width:492px; float:left; }
#x-gm img									{ width:490px; border:1px solid #D4D4D4; margin:0 0 5px; }
#x-gm .x-tg-title                           { width:490px; height:30px; background:transparent url(images/x-tg-title.png) 0 0 no-repeat; }
#x-gt										{ float:right; }
#x-gt, #x-gt .x-tg-mid	                    { width:200px; }
#x-gt .x-tg-mid								{ overflow:hidden; }
#x-gt .x-tg-mid img							{ width:90px; border:1px solid #D4D4D4; margin:0 0 8px 8px; display:block; float:left; cursor:pointer; } 
#x-gt .x-tg-mid img.x-hide 					{ display:none; }
#x-tg br									{ clear:both; width:100%; height:0; }

/* terms tabs standard */
#x-main-tabs								{ height:42px; background:transparent url(images/x-main-ttop.png) 0 37px no-repeat; }
#x-main-tabs a img							{ width:182px; height:38px; display:block; float:left; margin-right:2px; }
#x-main-tb01								{ display:block; visibility:visible; }
#x-main-tb02, #x-main-tb03,	#x-main-tb04	            { display:none; }
#x-main-tabs > a { background: transparent url(images/x-tt-bg_tab.png) repeat-x scroll 0 0; color:#FFF; display: block; float: left; font-weight:bold; height: 38px; line-height:38px; margin-right:2px; text-align:center; width:182px;}
#x-main-tabs > a:hover,#x-main-tabs > a.active{background: transparent url(images/x-tt-active_bg.png) repeat-x scroll 0 0;}
#storeHeader{display:none;}
#x-main.other-page { min-height: 1350px;}

/* Footer with links formatting
-------------------------------------------------- */
#x-foot										{ height:105px;text-align:left; }
#x-foot, #x-foot a					        { font-size:11px; line-height:15px; letter-spacing:0.05em; }
#x-foot, #x-foot a, #x-foot a:link, 
#x-foot a:active, #x-foot a:visited			{ color:#141414; }
#x-foot a:hover							    { color:#0742DD; }
#x-foot-subm							    { padding:34px 0 0 3px; }
#x-foot-copy							    { padding:10px 0 0 3px; }
#x-foot-wrap.footer-container {bottom: 0; clear: both; left: -225px;}
